# Preprocess
biopython==1.85
tqdm==4.67.1
pandas==2.3.2
pyarrow==21.0.0
numpy==2.3.3

# PhosDetect
torch==2.8.0
transformers>=4.20.0
scikit-learn>=1.0.0
pandas>=1.3.0

# Postprocess
scipy==1.16.2
matplotlib==3.10.6
matplotlib-venn==1.1.2
seaborn==0.13.2